<%- include('../partials/header') %>

<nav class="folders">
    <% folders.forEach(f => { %>
        <a href=""><%= f.name %></a>
    <% }); %>
        <a href="">New Folder</a>
</nav>
<h1>testing</h1>

<%- include('../partials/footer') %>