<%- include('./partials/header') %>

<script>
ChemDoodle.DEFAULT_STYLES.bondLength_2D = 14.4;
ChemDoodle.DEFAULT_STYLES.bonds_width_2D = .6;
ChemDoodle.DEFAULT_STYLES.bonds_saturationWidthAbs_2D = 2.6;
ChemDoodle.DEFAULT_STYLES.bonds_hashSpacing_2D = 2.5;
ChemDoodle.DEFAULT_STYLES.atoms_font_size_2D = 10;
ChemDoodle.DEFAULT_STYLES.atoms_font_families_2D = ['Helvetica', 'Arial', 'sans-serif'];
ChemDoodle.DEFAULT_STYLES.atoms_displayTerminalCarbonLabels_2D = true;
ChemDoodle.DEFAULT_STYLES.atoms_useJMOLColors = true;

// changes the default JMol color of hydrogen to black so it appears on white backgrounds
ChemDoodle.ELEMENT['H'].jmolColor = 'black';
// darkens the default JMol color of sulfur so it appears on white backgrounds
ChemDoodle.ELEMENT['S'].jmolColor = '#B9A130';
// initializes the SketcherCanvas
let sketcher = new ChemDoodle.SketcherCanvas('sketcher', 500, 300, {useServices:true, oneMolecule:true});
// sets terminal carbon labels to display
sketcher.styles.atoms_displayTerminalCarbonLabels_2D = true;
// sets atom labels to be colored by JMol colors, which are easy to recognize
sketcher.styles.atoms_useJMOLColors = true;
// enables overlap clear widths, so that some depth is introduced to overlapping bonds
sketcher.styles.bonds_clearOverlaps_2D = true;
// sets the shape color to improve contrast when drawing figures
sketcher.styles.shapes_color = 'c10000';
// because we do not load any content, we need to repaint the sketcher, otherwise we would just see an empty area with the toolbar
// however, you can instead use one of the Canvas.load... functions to pre-populate the canvas with content, then you don't need to call repaint
sketcher.repaint();
</script>

<form action="/sketchsearch" method="GET">
    <input type="hidden" id="molFile" name="molFile">
    <button id="sketch-search" type="submit">Search Sketch</button>
</form>

<h1>OR</h1>
<form action="/search" method="GET">
    <input type="text" name="q" placeholder="Search by Name" required>
    <button type="submit">Search</button>
</form>

<%- include('./partials/footer') %>