* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: black;
}

body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 60px 50px 1fr;
  grid-template-areas:
    "nav"
    "nav2"
    "main";
  position: relative;
  overflow-y: auto;
  background-color: grey; 
}

body::before,
body::after {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  width: 20px;
  background-color: greenyellow;
  z-index: -1;
}

body::before {
  left: 0;
  grid-row: 2 / -1;
}

body::after {
  right: 0;
  grid-row: 2 / -1;
}

nav.navbar {
  grid-area: nav;
  background-color: black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

nav.folders {
  grid-area: nav2;
  display: flex;
  justify-content: flex-start;
  background-color: black;
  padding: 10px 0;
}

nav.title {
  grid-area: nav2;
  background-color: black;
  color: greenyellow;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  justify-content: center;
}

nav > img {
  width: 16vh;
  object-fit: contain;
  margin-right: auto;
}

nav > a {
  color: greenyellow;
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: black;
  background-color: greenyellow;
  cursor: default;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

#update-folder > textarea {
  border: none;
  outline: none;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  background-color: transparent;
  cursor: default;
}

#update-folder textarea[name="name"] {
  margin-top: 50px;
}

a.folder {
  display: flex;
  align-items: center;
  margin: 0 2px;
  padding: 10px 20px;
  background-color: yellow;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

a.folder::before, a.folder::after {
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  background-color: yellow;
}

a.folder::before {
  left: -10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 20px solid yellow;
}

a.folder::after {
  right: -10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 20px solid yellow;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: calc(100% - 100px);
}

.title {
  font-size: 28px;
}

div.compound {
  display: flex;
  flex-direction: column;
}